{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centralized System</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="main-container">
        <img class="container-img" src="{% static 'assets/logo.png' %}" alt="">
        <h1>PaticOS©</h1>
        <h3>Centralized System</h3>
    </div>
</body>
</html>
{% endblock %}